
.container table 
{
    margin: 20px;

}
.container table tr th
{
    font-size: large;
    padding: 25px;
}
.container table tr td
{
    font-weight: lighter;
    padding: 20px;
    

}
.container table tr td a
    {
        color: black;
    }
.container table tr td a:hover
{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.container .col-lg-4 h3
{
    text-align: center;
    margin-top: 30%;
}
.container .col-lg-4 button
{
    margin: 10% 20% auto 35%;
    padding: 10px 30px 10px 30px;
    border: 1px solid #1e90ff;
    background-color: white;
    color: #1e90ff;
}
.container .col-lg-4 button:hover
{
    background-color: #1e90ff;
    color: white;
}
.container
{
    margin: 30px;
}
.container h3,p
{
    text-align: center;

}
.container i
{
    margin-inline: 10px;
}
