.container1 {
    margin: 50px;
}

.container1 .col-lg-4 {
    text-align: center;
    word-wrap: break-word;
    margin-top: 150px;
}

.container1 .col-lg-4 p {
    margin-top: 20px;
}

.container1 .col-lg-4 button {
    margin-top: 20px;
    height: 40px;
    width: 100px;
    background-color: #00ccff;
    border: 0;
    border-radius: 5px;
    color: white;
}

.container1 .col-lg-8 {
    margin-top: 40px;
}

.container1 .col-lg-8 .carousel-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container1 .col-lg-8 .carousel-item .card {
    border: 1px solid black;
    padding: auto;
    margin: 20px;
    width: 200px;
    height: 450px;
    box-shadow: 2px 2px 8px black;

}

.container1 .col-lg-8 .carousel-item .card img {
    /* position: relative; */
    width: 180px;
    height: 280px;
}
/* .container1 .col-lg-8 .carousel-item .card */
.container1 .col-lg-8 .carousel-item .card p
{
    text-align: center;
    word-break: break-word;
    font-weight: bold;
    font-size: 13px;
}
.container1 .col-lg-8 .carousel-item .card p:nth-child(2)
{
    color: #32cd32;
}
.container1 .col-lg-8 .carousel-item .card h3
{
    text-align: center;
    margin-bottom: 0px;
    font-size: large;
    font-weight: bold;
}
.container1 .col-lg-8 .carousel-item .card h4
{
    text-align: center;
    font-weight: bold;
}