
#container1
{
    background: linear-gradient(white, #76ff7a);
}

.heading
{
    margin-left: 480px;
    margin-right: 480px;
} 


#container1 .heading h3
{
    text-align: center;
    position: relative;
    text-decoration: none;
}

/* .container-fluid .heading h3::after
{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background-color: black;

     animation  Properties

    transform: scale(0,1); 
    transition: transform 1s ease;
}  */
#container1 h3::after:hover
{
    /* transform: scale(1, 1); */
    text-decoration: underline;
}
#container2
{
    height: 400px;
}
#container2 .card-wrapper
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 50px;
}
#container2 .card
{
    background-color: white;
    width:  350px;
    height: 300px;
    border-radius: 10px;
    margin-inline: 20px;
    box-shadow: 3px 3px 3px 2px #414a4c;
}
#container2 .card .card-text p
{
    text-align: center;
    word-wrap: break-word;
    font-weight: 500;
    font-size: medium;
}
#container2 .card .card-body img
{
    height: 100px;
    margin: 50px auto 50px 30px;   
}
#container2 .card:nth-child(2):hover
{ 
    transform: scale(10px, 10px);
}




